ul{
    list-style: none;
    height : 50px;
    background-color:rgb(60, 178, 187);
    color: white;
    font-size : 30px;
    padding : 0;
    margin : 0;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    

}

ul li{
    float: left;
    color: white;
    text-decoration: none;
    margin-left : 30px;
    margin-top: 10px;

}

#firstli{
    margin-left: 80%;
}

ul li a{
    color: white;
    text-decoration: none;
}